body {
    font-family: Arial, sans-serif;
    background-color: rgba(245, 245, 220, 1);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 5px;
  }
  
  h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 24px;
    color: #666;
    margin-bottom: 0;
  }
  